@tailwind base;
@tailwind components;
@tailwind utilities;

.text-stroke-white {
    -webkit-text-stroke: 1px white;
}
.text-stroke-blue{
    -webkit-text-stroke: 1px #3AB4F2;
}
.text-stroke{
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
}